.notes-wrapper .saver-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, *:before, *:after, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
*:focus, *:before:focus, *:after:focus, h2:focus, p:focus {
  outline: none;
}

html, body {
  width: 100%;
  /* height: 100%; */
  padding: 5px 0;
  margin: 0;
  background-color: #38332e;
  font-family: 'Source Sans Pro';
  padding-bottom: 5px;
}

.notes-wrapper {
  /* max-width: 400px; */
  width: 93%;
  margin: 0 34px auto;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 999;
}
/*.notes-wrapper .saver-wrap {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}
.notes-wrapper .saver-wrap .notes-dot {
  width: 10px;
  height: 10px;
  background-color: #D1D3D6;
  border-radius: 50px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.notes-wrapper .saver-wrap .notes-dot.saved {
  background-color: #66cc8f;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-delay: 2.10s;
          transition-delay: 2.10s;
}
.notes-wrapper .saver-wrap .rest {
  -webkit-transform: scale(0);
          transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  width: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
}
.notes-wrapper .saver-wrap .rest.active {
  -webkit-animation: animate 1.05s linear 2;
          animation: animate 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest.active:after {
  -webkit-animation: animate2 1.05s linear 2;
          animation: animate2 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest:after {
  -webkit-transform: scale(0);
          transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  content: '';
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
}*/
.notes-wrapper .title {
  padding: 25px 30px;
  padding-right: 60px;
  font-weight: 600;
  color: #000C2F;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px
}
.notes-wrapper .content {
  padding: 10px 30px;
  padding-bottom: 15px;
  font-weight: 400;
  color: #666D82;
  line-height: 1.5;
  font-size: 14px;
  height: 120px;
overflow-y : scroll;
  /*height: 100px*/
}
.notes-wrapper .content span.bold {
  font-weight: 700;
}
.notes-wrapper .content img {
  width: 90%;
  border-radius: 5px;
  margin: 15px 5%;
}
.notes-wrapper .line {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #CCCED5;
}
.notes-wrapper .comment {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 13px;
  color: #999EAC;
  position: relative;
}
.notes-wrapper .getImg {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: -15px;
  cursor: pointer;
}
.notes-wrapper .getImg .material-icons {
  line-height: 60px;
  color: #999EAC;
}
hr {
    border: 1px solid #71ccd5;
}

.left-div {
   float: left;
   height: auto;
   margin-right: 8px;
   height: 250px;
    overflow-y: scroll;
    width: 300px;
}
.right-div {
   float: left;
   margin-left: 1px;
}​

.container {
 margin: 50px auto;
 width: 380px;
}

.tags {
 zoom: 1;
}

.tags:before, .tags:after {
 content: '';
 display: table;
}

.tags:after {
 clear: both;
}

.tags li {
 position: relative;
 float: left;
 margin: 0 0 8px 12px;
}

.tags li:active {
 margin-top: 1px;
 margin-bottom: 7px;
}

.tags li:after {
 content: '';
 z-index: 2;
 position: absolute;
 top: 10px;
 right: -2px;
 width: 5px;
 height: 6px;
 opacity: .95;
 background: #eb6b22;
 border-radius: 3px 0 0 3px;
 -webkit-box-shadow: inset 1px 0 #99400e;
 box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
 display: block;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.tags a {
 height: 26px;
 line-height: 23px;
 padding: 0 9px 0 8px;
 font-size: 12px;
 color: #555;
 text-decoration: none;
 text-shadow: 0 1px white;
 background: #fafafa;
 border-width: 1px 0 1px 1px;
 border-style: solid;
 border-color: #dadada #d2d2d2 #c5c5c5;
 border-radius: 3px 0 0 3px;
 background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
 -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
 box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
 padding: 0 7px 0 6px;
 max-width: 40px;
 -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
 box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags span {
 position: absolute;
 top: 1px;
 left: 100%;
 z-index: 2;
 overflow: hidden;
 max-width: 0;
 height: 24px;
 line-height: 21px;
 padding: 0 0 0 2px;
 color: white;
 text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
 background: #eb6b22;
 border: 1px solid;
 border-color: #d15813 #c85412 #bf5011;
 border-radius: 0 2px 2px 0;
 opacity: .95;
 background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
 background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
 background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
 background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
 -webkit-transition: 0.3s ease-out;
 -moz-transition: 0.3s ease-out;
 -o-transition: 0.3s ease-out;
 transition: 0.3s ease-out;
 -webkit-transition-property: padding, max-width;
 -moz-transition-property: padding, max-width;
 -o-transition-property: padding, max-width;
 transition-property: padding, max-width;
}

.green li:after {
 background: #65bb34;
 -webkit-box-shadow: inset 1px 0 #3a6b1e;
 box-shadow: inset 1px 0 #3a6b1e;
}

.green span {
 background: #65bb34;
 border-color: #549b2b #4f9329 #4b8b27;
 background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue li:after {
 background: #56a3d5;
 -webkit-box-shadow: inset 1px 0 #276f9e;
 box-shadow: inset 1px 0 #276f9e;
}

.blue span {
 background: #56a3d5;
 border-color: #3591cd #318cc7 #2f86be;
 background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
 background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
 background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
 background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}






@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
