.notes-wrapper .saver-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, *:before, *:after, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
*:focus, *:before:focus, *:after:focus, h2:focus, p:focus {
  outline: none;
}

html, body {
  width: 100%;
  /* height: 100%; */
  padding: 5px 0;
  margin: 0;
  background-color: #38332e;
  font-family: 'Source Sans Pro';
  padding-bottom: 5px;
}

.notes-wrapper {
  /* max-width: 400px; */
  width: 100%;
  /* margin: 0 34px auto;*/
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 999;
  padding: 25px 30px;
  padding-right: 60px;
  font-weight: 600;
  color: #000C2F;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px
}
.notes-wrapper .content {
  padding: 10px 30px;
  padding-bottom: 15px;
  font-weight: 400;
  color: #666D82;
  line-height: 1.5;
  font-size: 14px;
  height: 120px;
overflow-y : scroll;
  /*height: 100px*/
}
.notes-wrapper .content span.bold {
  font-weight: 700;
}
.notes-wrapper .content img {
  width: 90%;
  border-radius: 5px;
  margin: 15px 5%;
}
.notes-wrapper .line {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #CCCED5;
}
.notes-wrapper .comment {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 13px;
  color: #999EAC;
  position: relative;
}
.notes-wrapper .getImg {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: -15px;
  cursor: pointer;
}
.notes-wrapper .getImg .material-icons {
  line-height: 60px;
  color: #999EAC;
}
hr {
    border: 1px solid #71ccd5;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: -6px;
}

.left-div {
   float: left;
   height: auto;
   margin-left: 11px;
   height: 422px;
   width: 70%;
}
.right-div {
   float: right;
   margin:20px 28px 0px 0px;
   width: 255px;
}

.container {
 margin: 0px auto;
}

.tags {
 zoom: 1;
}

.tags:before, .tags:after {
 content: '';
 display: table;
}

.tags:after {
 clear: both;
}

.tags li {
 position: relative;
 float: left;
 margin:1px 6px 8px 7px;
}

.tags li:active {
 margin-top: 1px;
 margin-bottom: 7px;
}

.tags li:after {
 content: '';
 z-index: 2;
 position: absolute;
 top: 10px;
 right: -2px;
 width: 5px;
 height: 6px;
 opacity: .95;
 background: #eb6b22;
 border-radius: 3px 0 0 3px;
 -webkit-box-shadow: inset 1px 0 #99400e;
 box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
 display: block;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.tags a {
 height: 26px;
 line-height: 23px;
 padding: 0 9px 0 8px;
 font-size: 12px;
 color: #555;
 text-decoration: none;
 text-shadow: 0 1px white;
 background: #fafafa;
 border-width: 1px 0 1px 1px;
 border-style: solid;
 border-color: #dadada #d2d2d2 #c5c5c5;
 border-radius: 3px 0 0 3px;
 background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
 background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
 -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
 box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
 padding: 0 7px 0 6px;
 max-width: 40px;
 -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
 box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags span {
 position: absolute;
 top: 1px;
 left: 100%;
 z-index: 2;
 overflow: hidden;
 max-width: 0;
 height: 24px;
 line-height: 21px;
 padding: 0 0 0 2px;
 color: white;
 text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
 background: #eb6b22;
 border: 1px solid;
 border-color: #d15813 #c85412 #bf5011;
 border-radius: 0 2px 2px 0;
 opacity: .95;
 background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
 background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
 background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
 background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
 -webkit-transition: 0.3s ease-out;
 -moz-transition: 0.3s ease-out;
 -o-transition: 0.3s ease-out;
 transition: 0.3s ease-out;
 -webkit-transition-property: padding, max-width;
 -moz-transition-property: padding, max-width;
 -o-transition-property: padding, max-width;
 transition-property: padding, max-width;
}

.green li:after {
 background: #65bb34;
 -webkit-box-shadow: inset 1px 0 #3a6b1e;
 box-shadow: inset 1px 0 #3a6b1e;
}

.green span {
 background: #65bb34;
 border-color: #549b2b #4f9329 #4b8b27;
 background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
 background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue li:after {
 background: #56a3d5;
 -webkit-box-shadow: inset 1px 0 #276f9e;
 box-shadow: inset 1px 0 #276f9e;
}

.blue span {
 background: #56a3d5;
 border-color: #3591cd #318cc7 #2f86be;
 background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
 background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
 background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
 background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}


#notebooks {
  background: whitesmoke;
  position: absolute;
  right: 284px;
  margin-top: -332px;
  width: 705px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  height: 300px;
}

#notebook_ul {
  margin: 0 auto;
  padding: 0;
  height: 240px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

#notebook_li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: 
    linear-gradient(
      90deg,
        #71ccd5 10px,
          #EEE 10px,
            #EEE 11px,
              transparent 11px);
            padding: 10px 15px 10px 25px;
          border: 1px solid #CCC;
        box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
      margin-bottom: 5px;
    width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks span {
  display: block;
  position: absolute;
  background: #71ccd5;
  bottom: -35px;
  left: -1px;
  width: 705px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

#notebooks select {
  width: 120px;
  margin-left: 552px;
  margin-top: -43px;
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 7.5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  height:34px
}

#notebooks select:focus, #query:focus {
  border: 1px solid #FFD32E;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
  outline: none;
}

#title{
  font:bold 22pt "Trebuchet MS";
  text-align: center;
  color: #F95;
  letter-spacing: 1px;
}


.widget {
  position: relative;
  margin: 42px 11px 0px;
  width: 260px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  height:493px;
}

.widget ol li {
  margin-left:22px;

}

.widget-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 12px 0;
  text-align: left;
  direction: rtl;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  line-height: 36px;
  font-weight: normal;
  color: #999;
  background: #fcfcfc;
  border: solid #ddd;
  border-width: 1px 1px 0;
  border-radius: 5px 5px 0 0;
  padding-bottom: 0;
  bottom: auto;
}

.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
  margin: 0;
  border-top: 0;
}

.widget-tab + .widget-tab {
  margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
  bottom: -1px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 34px;
  font-weight: bold;
  color: #555;
  background: white;
  border-top: 0;
}

.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
  margin: 0 -1px;
  border-top: 4px solid #4cc8f1;
}

.widget-tab-link {
  display: block;
  min-width: 60px;
  padding: 0 15px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.widget-list {
  display: none;
  padding-top: 50px;
}

.widget-list > li + li {
  border-top: 1px solid #e8e8e8;
}

.widget-list:last-of-type {
  display: block;
}

.widget-list:target {
  display: block;
}

.widget-list:target ~ .widget-list {
  display: none;
}

.widget-list-link {
  display: block;
  line-height: 18px;
  padding: 10px 12px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.widget-list-link:hover {
  background: #f7f7f7;
}

li:last-child > .widget-list-link {
  border-radius: 0 0 3px 3px;
}

.widget-list-link > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 2px 12px 0 0;
}

.widget-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}



@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
